<template>
  <div id="right-menu">
    <div id="rtitle"></div>
    <div id="rcontent"></div>
  </div>
</template>

<script>
export default {
  name: "ASide"
}
</script>

<style scoped>
#right-menu {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  /*background: chocolate;*/
  padding-left: 10px;
}

#rtitle {
  background: #e7e7e8;
  height: 40px;
}

#rcontent {
  display: flex;
  flex-grow: 1;
  background: #ffffff;
}
</style>