<template>
<!--  <div id="end"></div>-->
  <div id="foot">Copyright @c 2013-2022菜鸟教程 runoob.com All Right Reserved 备案号: 闽15012807号-1</div>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped>


#foot {
  color: #989899;
  font-size: 12px;
  /*background: green;*/
  padding-top: 20px;
  display: flex;
  justify-content: center;
  /*margin-bottom: 10px;*/
}
</style>