<template>
  <div id="top">
    <div id="Title">
      <a id="TitleLogo">模版页</a>
    </div>
    <div id="search_line">
      <input id="search_box" value="picture">
    </div>
  </div>
  <el-menu
      mode="horizontal"
  >
    <el-menu-item route="/home" index="1">
      <router-link to="/home">首页</router-link>
    </el-menu-item>
    <el-sub-menu index="2">
      <template #title>信息查询</template>
      <el-menu-item index="2-1">
        <router-link to="/ItemInfo">物品信息查询</router-link>
      </el-menu-item>
      <el-menu-item index="2-2">
        <router-link to="/unFinishPage">星系地图</router-link>
      </el-menu-item>
      <el-menu-item index="2-3">
        <router-link to="/TaskQuery">任务攻略</router-link>
      </el-menu-item>
      <el-menu-item index="2-4">
        <router-link to="/WHQuery">虫洞查询</router-link>
      </el-menu-item>
      <el-menu-item index="2-5">
        <router-link to="/unFinishPage">异常/死亡查询</router-link>
      </el-menu-item>
    </el-sub-menu>
    <el-sub-menu index="3">
      <template #title>商业分析</template>
      <el-menu-item index="3-1">
        <router-link to="/unFinishPage">物品价格查询</router-link>
      </el-menu-item>
      <el-menu-item index="3-2">
        <router-link to="/unFinishPage">合同公证估价</router-link>
      </el-menu-item>
      <el-menu-item index="3-3">
        <router-link to="/unFinishPage">LP价格评估</router-link>
      </el-menu-item>
    </el-sub-menu>
    <el-menu-item index="4">
      <router-link to="/unFinishPage">舰船装配模拟</router-link>
    </el-menu-item>
    <el-sub-menu index="5">
      <template #title>工业计算</template>
      <el-menu-item index="5-1">
        <router-link to="/unFinishPage">蓝图查询</router-link>
      </el-menu-item>
      <el-menu-item index="5-2">
        <router-link to="/unFinishPage">行星工业</router-link>
      </el-menu-item>
      <el-menu-item index="5-3">
        <router-link to="/unFinishPage">挖矿收益计算</router-link>
      </el-menu-item>
    </el-sub-menu>
    <el-sub-menu index="6">
      <template #title>哨兵阵列</template>
      <el-menu-item index="6-1">
        <router-link to="/unFinishPage">击杀查询</router-link>
      </el-menu-item>
      <el-sub-menu index="6-2">
        <template #title>活跃度分析</template>
        <el-menu-item index="6-2-1">
          <router-link to="/unFinishPage">个人/军团活跃度分析</router-link>
        </el-menu-item>
        <el-menu-item index="6-2-2">
          <router-link to="/unFinishPage">星系活跃度查询</router-link>
        </el-menu-item>
      </el-sub-menu>
      <el-menu-item index="6-3">
        <router-link to="/unFinishPage">天眼系统</router-link>
      </el-menu-item>
    </el-sub-menu>
    <el-menu-item index="7">
      <router-link to="/foo">关于本站</router-link>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  name: "NavBar"
}
</script>

<style scoped>

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #f4f4f5;

}

#Title {
  display: flex;
  flex-grow: 1;
  height: 100%;
  /*background: #00ff37;*/
}

#TitleLogo {
  display: flex;
  align-items: center;
  color: #333334;
  font-size: 45px;
  padding-left: 10px;
}

#search_line {
  display: flex;
  width: 454px;
  height: 44px;
  background: #ebeceb;
  padding: 5px 5px 5px 5px;
}

#search_box {
  display: flex;
  flex-grow: 1;
}

/*#nav {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: flex-start;*/
/*  !*width: 100vw;*!*/
/*  margin-top: 10px;*/
/*  padding-left: 30px;*/
/*  background: #95b87d;*/
/*}*/

/*#nav {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: flex-start;*/
/*  !*width: 100vw;*!*/
/*  margin-top: 10px;*/
/*  padding-left: 30px;*/
/*  background: #95b87d;*/
/*}*/

/*#nav-item {*/
/*  padding: 10px 10px 10px 10px;*/
/*  color: #ffffff;*/
/*}*/

/*.el-menu-item {*/
/*  padding: 10px 10px 10px 10px;*/
/*  color: #ffffff;*/
/*}*/
</style>