<template>
  <div class="item-info-frame">
    <el-avatar shape="square"/>
    <el-menu
      mode="horizontal"
    >
      <el-menu-item index="1">描述</el-menu-item>
      <el-menu-item index="2">属性</el-menu-item>
      <el-menu-item index="3">装配</el-menu-item>
      <el-menu-item index="4">工业</el-menu-item>
      <el-menu-item index="5">市场</el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: "ItemInfoFrame"
}
</script>

<style scoped>
  .item-info-frame{
    background-color: #535bf2;
    width: 100%;
    height: 100px;
  }
</style>