<template>
<!--  <div id="router">-->
  <el-container id="page">

<!--    <div id="up">-->
      <NavBar/>
      <div id="main">
        <!--        <div id="left-menu"></div>-->
        <div id="content">
          <div id="ctitle"></div>
          <div id="article"></div>
        </div>
        <ASide/>
      </div>
<!--    </div>-->
    <Footer/>
  </el-container>
<!--  </div>-->
</template>

<script>
import NavBar from "./frame/NavBar.vue";
import Footer from "./frame/Footer.vue";
import ASide from "./frame/ASide.vue";

export default {
  name: "Foo",
  components: {ASide, Footer, NavBar}
}
</script>

<style scoped>
/*#router {*/
/*  background: #f4f4f5;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  flex-grow: 1;*/
/*  flex-shrink: 1;*/
/*  min-width: 1200px;*/
/*  !*min-height: 90vh;*!*/
/*  !*height: 100%;*!*/
/*  margin: 0 0 0 0;*/
/*  padding: 10px;*/

/*}*/


/*#up {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  height: 100%;*/
/*  flex-grow: 1;*/
/*}*/

/*#main {*/
/*  min-height: 50vh;*/
/*  background: #f9f9f9;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  height: 100%;*/
/*  flex-grow: 1;*/
/*  justify-content: space-between;*/
/*}*/

/*#left-menu{*/
/*  min-width: 250px;*/
/*  min-height: 50vh;*/
/*  !*width: 200px;*!*/
/*  !*height: 100%;*!*/
/*  background: aqua;*/
/*}*/

</style>