<template>
  <div id="search_research_card">
<!--    <p>123</p>-->
    <div style="flex-direction: row">
      <el-avatar id="avatar"/>
<!--      <div style="flex-direction: column; text-align: left; align-self: self-start">-->
        <el-text style="padding-left: 10px">{{ info.name }}</el-text>
        <el-text style="padding-left: 20px">种类：{{ info.type }}</el-text>
<!--      </div>-->
    </div>
    <el-text style="align-items: flex-start;text-align: left" size="small">{{ info.description }}</el-text>
  </div>
</template>

<script lang="ts">
import {PropType} from "vue";
import {ItemInfo} from "../../service/ItemInfoService";

export default {
  name: "SearchResCard",
  props:{
    info:{
      type: Object as PropType<ItemInfo>,
      required: false
    }
  }
}
</script>

<style scoped>
#search_research_card{
  /*width: 100%;*/
  padding: 5px;
  margin: 10px;
  height: 90px;
  background-color: #c0c0c0;
  flex-direction: column;
}

#avatar{
  align-items: flex-start;
}


</style>