<template>
  <div id="searchBox">
    <SearchResCard v-for="item in context.res_page.content" :info="item"/>
    <el-button @click="debug(context)">debug</el-button>
    <div style="justify-content: flex-end">
      <el-pagination
          layout="prev, pager, next"
          :total="context.res_page.totalElements"
          :page-size="context.res_page.size"
      />
    </div>
  </div>
</template>

<script lang="ts">
import {ItemInfo, ItemInfoQueryParam} from "../../service/ItemInfoService"
import {PropType} from "vue";
import {Context} from "../../service/common";
import SearchResCard from "./SearchResCard.vue";

export default {
  name: "SearchResBox",
  components: {SearchResCard},
  props: {
    context: {
      type: Object as PropType<Context<ItemInfo, ItemInfoQueryParam>>,
      required: true
    }
  },
  methods:{
    debug(context:Context<ItemInfo, ItemInfoQueryParam>){
      console.log(context.res_page)
    }
  }
}
</script>

<style scoped>
#searchBox {
  background-color: #b2b2b2;
  padding: 10px;
  margin: 10px;
  display: flow;
}
</style>