<template>
  <el-container id="page">
    <NavBar/>
    <el-container id="main">
      <el-main>
        <div id="content">
          <el-text>首页，咋地不服？</el-text>
          <el-button @click="testMock"></el-button>
        </div>
      </el-main>
      <ASide/>
    </el-container>
    <Footer/>
  </el-container>
</template>

<script>
import NavBar from "../components/frame/NavBar.vue";
import Footer from "../components/frame/Footer.vue";
import ASide from "../components/frame/ASide.vue";
import ItemInfoFrame from "../components/ItemInfo/ItemResBox.vue";
import axios from "axios";
import {ItemInfoQueryRequest} from "../service/ItemInfoService";

export default {
  name: "HomePage",
  components: {ItemInfoFrame, ASide, Footer, NavBar},
  methods: {
    testMock: function () {
      ItemInfoQueryRequest()
          .then(res => {
            console.log(res)
          })
    }
  }
}
</script>

<style scoped>
/*#up {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  height: 100%;*/
/*  flex-grow: 1;*/
/*}*/

/*#main {*/
/*  min-height: 50vh;*/
/*  background: #f9f9f9;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  height: 100%;*/
/*  flex-grow: 1;*/
/*  justify-content: space-between;*/
/*}*/

</style>