<template>
  <el-container>
    <el-header id="page">
      <NavBar/>
    </el-header>
    <el-main>

    </el-main>
  </el-container>
</template>

<script>
import NavBar from "../components/frame/NavBar.vue";
export default {
  name: "IndexPage",
  components: {NavBar}
}
</script>

<style scoped>
#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
</style>