<template>
  <el-container id="page">
    <NavBar/>
    <el-container id="main">
      <el-main>
        <div id="content">
          <!--          <el-form label-width="120px">-->
          <el-form label-width="120px">
            <el-form-item label="物品名称">
              <el-input type="text" placeholder="123"/>
              <!--              <el-input type="text" placeholder="234"/>-->
            </el-form-item>
            <el-form-item label="">
              <el-button color="blue" @click="query(context)">查询</el-button>
            </el-form-item>
          </el-form>
          <!--          <ItemInfoFrame/>-->
          <SearchResBox :context="context"/>
          <!--          </el-form>-->
        </div>
      </el-main>
      <ASide/>
    </el-container>
    <Footer/>
  </el-container>
</template>

<script setup lang="ts">
import {Context, Page} from "../service/common";
import {ItemInfo, ItemInfoQueryParam, ItemInfoQueryRequest} from "../service/ItemInfoService";
import {onMounted, reactive} from "vue";



const context: Context<ItemInfo, ItemInfoQueryParam> = reactive({
  res_page: new Page<ItemInfo>(),
  param: new ItemInfoQueryParam(),
  query: function () {
    ItemInfoQueryRequest()
        .then(res => {
          console.log(res)
          this.res_page = res.data
        })
  }
})

// const res_page:  = ;

onMounted(() => {
  context.query()
})
</script>

<script lang="ts">
import ItemInfoFrame from "../components/ItemInfo/ItemResBox.vue";
import ASide from "../components/frame/ASide.vue";
import Footer from "../components/frame/Footer.vue";
import NavBar from "../components/frame/NavBar.vue";
import SearchResBox from "../components/SearchResult/SearchResBox.vue";
import {ItemInfo, ItemInfoQueryParam, ItemInfoQueryRequest} from "../service/ItemInfoService";
import {Context, Page} from "../service/common";

export default {
  name: "ItemInfoPage",
  components: {SearchResBox, ItemInfoFrame, ASide, Footer, NavBar},
  methods: {
    query: function (context:Context<ItemInfo, ItemInfoQueryParam>) {
      context.query()
      // ItemInfoQueryRequest()
      //     .then(res => {
      //       console.log(res)
      //       res_page.content = res.data.content;
      //       res_page.totalPages = res.data.totalPages;
      //       res_page.totalElements = res.data.totalElements;
      //       res_page.first = res.data.first;
      //       res_page.last = res.data.last;
      //       res_page.size = res.data.size;
      //       res_page.number = res.data.number;
      //       res_page.sort = res.data.sort;
      //       res_page.numberOfElements = res.data.numberOfElements;
      //     })
    }
  }
}
</script>

<style scoped>

</style>