<template>
  <el-container id="page">
    <NavBar/>
    <el-container id="main">
      <el-main>
        <div id="content">
          <el-text>物品详情</el-text>
          <el-button @click="test">测试</el-button>
        </div>
      </el-main>
      <ASide/>
    </el-container>
    <Footer/>
  </el-container>
</template>

<script>
import ItemInfoFrame from "../components/ItemInfo/ItemResBox.vue";
import ASide from "../components/frame/ASide.vue";
import Footer from "../components/frame/Footer.vue";
import NavBar from "../components/frame/NavBar.vue";
import {ItemInfoQueryRequest} from "../service/ItemInfoService";

export default {
  name: "ItemInfoPage",
  components: {ItemInfoFrame, ASide, Footer, NavBar},
  methods: {
    test: function () {
      ItemInfoQueryRequest().then(res => {
        console.log(res)
      })
    }
  }
}
</script>

<style scoped>

</style>