<template>
  <el-container id="page">
    <NavBar/>
    <el-container id="main">
      <el-main>
        <div id="content">
          <!--          <el-form label-width="120px">-->
          <el-form label-width="120px">
            <el-form-item label="任务名称">
              <el-input type="text" placeholder="请在此处输入任务名称"/>
              <!--              <el-input type="text" placeholder="234"/>-->
            </el-form-item>
            <el-form-item label="任务级别">
              <el-input type="text" placeholder="请输入任务级别"/>
            </el-form-item>
            <el-form-item label="">
              <el-button color="blue" @click="query(context)">查询</el-button>
            </el-form-item>
          </el-form>
          <!--          <ItemInfoFrame/>-->
<!--          <SearchResBox :context="context"/>-->
          <!--          </el-form>-->
        </div>
      </el-main>
      <ASide/>
    </el-container>
    <Footer/>
  </el-container>
</template>

<script>
import NavBar from "../components/frame/NavBar.vue";
import ASide from "../components/frame/ASide.vue";

export default {
  name: "TaskSearchPage",
  components: {NavBar, ASide}
}
</script>

<style scoped>

</style>