<template>
  <el-container id="page">
    <NavBar/>
    <el-container id="main">
      <el-main>
        <div id="content">
          <el-empty description="该功能还未完成，以后再来探索吧～"/>
        </div>
      </el-main>
      <ASide/>
    </el-container>
    <Footer/>
  </el-container>
</template>

<script>
import ItemInfoFrame from "../components/ItemInfo/ItemResBox.vue";
import ASide from "../components/frame/ASide.vue";
import Footer from "../components/frame/Footer.vue";
import NavBar from "../components/frame/NavBar.vue";

export default {
  name: "UnFinishPage",
  components: {ItemInfoFrame, ASide, Footer, NavBar}
}
</script>

<style scoped>

</style>