<template>
  <el-container id="page">
    <NavBar/>
    <el-container id="main">
      <el-main>
        <div id="content">
          <!--          <el-form label-width="120px">-->
          <el-form label-width="120px">
            <el-form-item label="虫洞编号查询">
              <el-input type="text" placeholder="虫洞编号模糊查询"/>
              <!--              <el-input type="text" placeholder="234"/>-->
            </el-form-item>
            <el-form-item label="本洞级别">
              <el-input type="text" placeholder="本洞级别"/>
              <!--              <el-input type="text" placeholder="234"/>-->
            </el-form-item>
            <el-form-item label="永联到">
              <el-input type="text" placeholder="永联到"/>
              <!--              <el-input type="text" placeholder="234"/>-->
            </el-form-item>
            <el-form-item label="虫洞类型枚举">
              <el-input type="text" placeholder="虫洞类型枚举"/>
              <!--              <el-input type="text" placeholder="234"/>-->
            </el-form-item>
            <el-form-item label="">
              <el-button color="blue" @click="query(context)">查询</el-button>
            </el-form-item>
          </el-form>
          <!--          <ItemInfoFrame/>-->
<!--          <SearchResBox :context="context"/>-->
          <!--          </el-form>-->
        </div>
      </el-main>
      <ASide/>
    </el-container>
    <Footer/>
  </el-container>
</template>

<script>
import NavBar from "../components/frame/NavBar.vue";
import ASide from "../components/frame/ASide.vue";

export default {
  name: "WHSearchPage",
  components: {NavBar, ASide}
}
</script>

<style scoped>

</style>