:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    /*color-scheme: light dark;*/
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

div{
    display: flex;
}

body {
    margin: 0 !important;
    display: flex !important;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: #f4f4f5;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    /*max-width: 1280px;*/
    margin: 0 auto;
    /*padding: 2rem;*/
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/*#page{*/
/*  min-height: 50vh;*/
/*  background: #f9f9f9;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  height: 100%;*/
/*  flex-grow: 1;*/
/*  justify-content: space-between;*/
/*}*/


#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

#main {
    min-height: 50vh;
    background: #f9f9f9;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

#content {
    min-width: 600px;
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    /*height: 2000px;*/
    background: #fdfdfe;
}